<section class="main-container flex main-content__articals--secondary">
  <img
    class="main-content__articals content__cover"
    src="images/starbucks-hero.jpg"
    alt=""
  />
  <div class="main-content__articals content__contents">
    <h2 class="main-content__header">30% off gifts they’ll love</h2>
    <p class="main-content__text">
      Save on festive drinkware and more. Add a gift card and make it a
      thoughtful gift.*
    </p>
    <a class="btn btn__outlline btn--outline-dark-primary">Find a store</a>
  </div>
</section>

<section class="main-container flex main-content__articals--red">
  <div class="main-content__articals content__contents">
    <h2 class="main-content__header">For everyone on your list</h2>
    <p class="main-content__text">
      A Starbucks eGift is a present everyone will love. Choose a festive design
      and share a little holiday cheer.
    </p>
    <a class="btn btn__outlline btn--outline-light">Send an eGift</a>
  </div>
  <img
    class="main-content__articals content__cover"
    src="images/starbucks-cover-2.jpg"
    alt=""
  />
</section>

<section class="main-container flex main-content__articals--red">
  <img
    class="main-content__articals content__cover"
    src="images/starbucks-cover-3.jpg"
    alt=""
  />
  <div class="main-content__articals content__contents">
    <h2 class="main-content__header">Our holiday game is here to play</h2>
    <p class="main-content__text">
      Pop in for chances to win $20,000 in Delta Gift Cards or Starbucks for
      Life!**
    </p>
    <a class="btn btn__outlline btn--outline-light">Play now</a>
  </div>
</section>

<section class="main-container flex main-content__articals--primary">
  <div class="main-content__articals content__contents">
    <h2 class="main-content__header">New to the nice list</h2>
    <p class="main-content__text">
      Celebrate the season with a new refreshingly festive Cran-Merry Orange
      Lemonade Refresher or Cran-Merry Drink.
    </p>
    <a class="btn btn__outlline btn--outline-light">Order now</a>
  </div>

  <img
    class="main-content__articals content__cover"
    src="images/starbucks-cover-4.jpg"
    alt=""
  />
</section>

<section class="main-container flex main-content__articals--light">
  <img
    class="main-content__articals content__cover"
    src="images/starbucks-cover-5.webp"
    alt=""
  />
  <div class="main-content__articals content__contents">
    <h2 class="main-content__header-small">Your cheer is here</h2>
    <p class="main-content__text-small">
      Join Starbucks® Rewards and get a <strong>free drink</strong> with
      qualifying purchase during your first week. Let’s make your holidays even
      merrier!***
    </p>
    <a class="btn btn__outlline btn--outline-primary">find a store</a>
  </div>
</section>

<section class="main-container flex main-content__articals--dark-red">
  <div class="main-content__articals content__contents">
    <h2 class="main-content__header-small">Buy a box, we’ll give back​</h2>
    <p class="main-content__text-small">
      In partnership with Feeding America®, protein box purchase helps support
      hunger relief in your community.****
    </p>
    <a class="btn btn__outlline btn--outline-light">find a store</a>
  </div>
  <img
    class="main-content__articals content__cover"
    src="images/starbucks-cover-6.webp"
    alt=""
  />
</section>
